@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-main {
  display: flex;
  background-color: #ffffffff;
  gap: 25px;
  padding: 0px 50px 0px 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: 768px;
  margin: 20px auto;
}

.form-main .img {
  background: url("../images/intro-img.jpg");
  background-position-x: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1.7;
}
.form-main .form {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 50px 0;
}
.form-child {
  display: flex;
  flex-direction: column;
}
.form-child label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.form-child input {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 11px 21px;
  outline: none;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  outline: 1px solid gainsboro;
  margin-top: 4px;
}
.form-child input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.form-child input:focus {
  outline: 2px solid #23a6f0;
}

.form button {
  background: #23a6f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  margin-top: 25px;
}
.field-main {
  display: flex;
  align-items: center;
  gap: 20px;
}
.field-main .field {
  display: flex;
  align-items: center;
  gap: 6px;
}
.field input {
  padding: 10px;
  outline: none;
}
.field input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .form-main {
    flex-direction: column;
    padding: 0 0;
    gap: 20px;
  }
  .form-main .img {
    flex: initial;
    width: 100%;
    height: 40vh;
    background-position-y: 15%;
  }
  .form-main .form {
    padding: 0 30px;
    margin: 30px 0;
  }
}
@media (max-width: 480px) {
  .form-main .img {
    height: 30vh;
    background-position-y: 15%;
  }
  .form-main .form {
    padding: 0 10px;
    margin: 28px 0;
  }
}
