@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  background: #23a6f0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
}
.nav-container h1 {
  font-size: 2rem;
}

/* hero section style */
.hero {
  min-height: calc(100vh - 40px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::after {
  content: "";
  background: url("../images/heroPic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.hero .content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 40px;
  -webkit-gap: 40px;
}
.hero .content h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  max-width: 20ch;
}
.hero .content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  max-width: 40ch;
}

.hero .hero-btn {
  align-self: center;
}
/* hero section ended */
/* intro section start */
.introSection {
  background-color: #ebf3f698;
  height: fit-content;
}
.intro {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2.5;
  gap: 30px;
  -webkit-gap: 30px;
}
.left h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 18ch;
}
.left p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  max-width: 55ch;
  letter-spacing: 0.2px;
  color: #737373;
}
.right {
  flex: 1.3;
  background: url("../images/intro-img2.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-gap: 20px;
}
.list .list-child {
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-gap: 8px;
}
.list .list-child .img {
  background-color: #a5d8f6;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .list-child p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  max-width: 55ch;
  letter-spacing: 0.2px;
  color: #2b2a2a;
}

/* feature section start */

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  -webkit-gap: 30px;
  padding: 60px 0;
}

.uppersection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  -webkit-gap: 4px;
}
.uppersection h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 18ch;
}
.uppersection h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 57px;
  letter-spacing: 0.2px;
  max-width: 18ch;
}
.uppersection p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  max-width: 55ch;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: center;
}
.lowersection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  -webkit-gap: 20px;
}
.servicelower {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  -webkit-gap: 20px;
  grid-gap: 20px;
}
.card2 {
  display: flex;
  gap: 20px;
  -webkit-gap: 20px;

  background-color: initial;

  background: rgb(210, 235, 249);
  background: -moz-linear-gradient(
    top,
    rgba(210, 235, 249, 1) 0%,
    rgba(254, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(210, 235, 249, 1) 0%,
    rgba(254, 255, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(210, 235, 249, 1) 0%,
    rgba(254, 255, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ebf9', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
}
.card2 ul {
  list-style-position: inside;
}
.card2 ul li {
  list-style-position: outside;
  margin-left: 1em;
  margin-bottom: 10px;
  color: #737373;
}
.lowersection .card {
  display: flex;
  flex-direction: column;
  background-color: rgba(135, 207, 235, 0.132);
  border-radius: 20px;
  padding: 14px 35px 14px 25px;
  gap: 12px;
  -webkit-gap: 12px;
}
.lowersection .card h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.lowersection .card p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.2px;

  /* second-text-color */

  color: #737373;
}
.lowersection .card img {
  width: 35px;
  height: 35px;
}
.servicesBtns {
  display: flex;
  gap: 8px;
  -webkit-gap: 8px;
}
.servicesBtns button {
  padding: 14px 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: gainsboro;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.servicesBtns button:nth-child(1) {
  color: white;
  background-color: #23a6f0;
}

/* footer starts */
footer {
  background: #e9e8e8;
  display: flex;
  padding: 30px;
}
footer .content {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  align-items: center;
  justify-items: center;
}
footer .content .logo h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
footer .content .data {
  display: flex;
  flex-direction: column;
  gap: 8px;
  -webkit-gap: 8px;
}
footer .content .data h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.1px;
  text-align: center;

  /* text-color */

  color: #252b42;
}
footer .content .data:nth-child(3) {
  align-self: flex-start;
}
footer .content .data:nth-child(3) .number {
  display: flex;
  align-items: center;
  gap: 0px;
  -webkit-gap: 0px;
}
footer .content .data:nth-child(3) img {
  width: 30px;
  height: 30px;
}
footer .content .data:nth-child(2) a {
  text-decoration: underline !important;
}
footer .content .data .para {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: 6px;
  color: #737373;
  cursor: pointer;
}
/* modal styles */
.modal {
  background-color: black;
  height: 100vh;
  width: 100%;
  opacity: 0.96;
  position: fixed;
  z-index: 10;
  top: 0;
}
.box {
  max-width: 465px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #dee2e6;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  margin: auto;
  margin-top: 60px;
  position: relative;
  z-index: 100;
}
.box h3 {
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #54595e;
  margin-bottom: 8px;
  text-align: center;
}
.box p {
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(84, 89, 94, 0.6);
  margin-bottom: 24px;
  text-align: center;
}
.box input {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 13px 16px;
}
.box input::placeholder {
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #acacac;
}
.box button {
  background: #4f4f4f;
  border-radius: 8px;
  padding: 14px 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  cursor: pointer;
}
.icon {
  position: absolute;
  background: #e5e5e5;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.hide {
  display: none;
}

/* media queries start */
@media (min-height: 900px) {
  .right {
    height: 55vh;
  }
}
@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
  .intro {
    gap: 60px;
    -webkit-gap: 60px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 30px;
    -webkit-gap: 30px;
  }
  .left h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.2px;
    max-width: 18ch;
  }
  .left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  .right {
    flex: 0.8;
    /* height: ; */
  }
  .servicelower {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    gap: 20px;
    -webkit-gap: 20px;
    grid-gap: 20px;
  }
}

@media (max-width: 1024px) {
  .intro {
    gap: 30px;
    -webkit-gap: 30px;
    padding: 60px 30px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 20px;
    -webkit-gap: 20px;
  }
  .left h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    max-width: 18ch;
  }
  .left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  .right {
    flex: 0.8;
    /* height: ; */
  }
  /* feature section start */

  .features {
    display: flex;
    flex-direction: column;
    gap: 30px;
    -webkit-gap: 30px;

    padding: 60px 10px;
  }
  .uppersection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    -webkit-gap: 4px;
  }
  .uppersection h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .uppersection h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 57px;
    letter-spacing: 0.2px;
    max-width: 18ch;
  }
  .uppersection p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    max-width: 55ch;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: center;
  }
  .lowersection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    -webkit-gap: 18px;
    grid-gap: 18px;
  }
  .lowersection .card {
    padding: 14px 26px 14px 20px;
    gap: 14px;
    -webkit-gap: 14px;
    grid-gap: 14px;
  }
  .lowersection .card h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252b42;
  }
  .lowersection .card p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #363535;
  }
  .lowersection .card img {
    width: 32px;
    height: 32px;
  }
  .servicesBtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
    -webkit-gap: 8px;
  }
  .servicesBtns button {
    padding: 14px 10px;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .servicelower {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    gap: 20px;
    -webkit-gap: 20px;
    grid-gap: 20px;
  }
  footer .content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-container {
    font-size: 1.3rem;
  }
  .hero .content h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  .hero .content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  .hero .content button {
    padding: 14px 34px;
    font-weight: 600;
  }
  .intro {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 15px;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 20px;
    -webkit-gap: 20px;
  }
  .left h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    max-width: 18ch;
  }
  .left p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  .right {
    flex: initial;
    width: 100%;
    height: 50vh;
    background-position-y: 25%;
    border-radius: initial;
    /* min-height: auto; */
    order: -1;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-gap: 15px;
  }
  .list .list-child {
    display: flex;
    gap: 6px;
    -webkit-gap: 6px;
  }
  .list .list-child .img {
    background-color: #a5d8f6;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list .list-child p {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    max-width: 55ch;
    letter-spacing: 0.2px;
    color: #2b2a2a;
  }
  .lowersection {
    display: grid;
    grid-template-columns: repeat(1, 0.8fr);
    gap: 18px;
    -webkit-gap: 18px;
    grid-gap: 18px;
    justify-content: center;
  }
  .servicesBtns {
    display: flex;
    flex-direction: row;
    gap: 8px;
    -webkit-gap: 8px;
  }
  footer .content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  footer .content .data:nth-child(3) {
    align-self: inherit;
  }
}

@media (max-width: 480px) {
  .nav-container {
    font-size: 1.3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    -webkit-gap: 10px;
  }
  .hero .content {
    gap: 28px;
    -webkit-gap: 28px;
    padding: 0 20px;
  }
  .hero .content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
  }
  .hero .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .hero .content button {
    padding: 10px 25px;
    font-weight: 500;
  }
  .intro {
    padding: 60px 0;
  }
  .left {
    flex: 1;
    gap: 20px;
    -webkit-gap: 20px;
    padding: 0 10px;
  }
  .left h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .left p {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }
  .list .list-child {
    gap: 8px;
    -webkit-gap: 8px;
  }
  .list .list-child .img {
    height: 28px;
    width: 28px;
  }
  .list .list-child p {
    font-size: 15px;
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 30px;
    -webkit-gap: 30px;
    padding: 60px 10px;
  }
  .lowersection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    -webkit-gap: 18px;
    grid-gap: 18px;
    justify-content: center;
  }
  .servicesBtns {
    display: flex;
    flex-direction: column;
    gap: 8px;
    -webkit-gap: 8px;
  }
}
/* @media (max-width: 320px) {
  .nav-container h1 {
    font-size: 1.7rem;
  }
  .hero .content {
    padding: 0 16px;
  }
  .hero .content h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
  .hero .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .hero .content button {
    padding: 10px 25px;
    font-weight: 500;
  }
} */
